[user]
	name = Jared McFarland
	email = jared.online@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[include]
	path = ~/.gitconfig.local
[credential "https://github.com"]
	helper = 
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !gh auth git-credential
[beads]
	role = maintainer
[core]
	fsmonitor = false
[url "git@github.com:figma/"]
	insteadOf = https://github.com/figma/
