[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/ag.vim"]
	path = .vim/bundle/ag.vim
	url = https://github.com/rking/ag.vim.git
[submodule ".vim/bundle/mustache.vim"]
	path = .vim/bundle/mustache.vim
	url = https://github.com/juvenn/mustache.vim.git
[submodule ".vim/bundle/nerdcommmenter"]
	path = .vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-multiple-cursors"]
	path = .vim/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule ".vim/bundle/vim-scala"]
	path = .vim/bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script
[submodule ".vim/bundle/vim-jade"]
	path = .vim/bundle/vim-jade
	url = https://github.com/digitaltoad/vim-jade
[submodule ".vim/bundle/rust.vim"]
	path = .vim/bundle/rust.vim
	url = https://github.com/wting/rust.vim
[submodule ".vim/bundle/vim-toml"]
	path = .vim/bundle/vim-toml
	url = https://github.com/cespare/vim-toml
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule ".vim/bundle/vim-github"]
	path = .vim/bundle/vim-github
	url = https://github.etsycorp.com/tschneiter/vim-github.git
[submodule ".vim/bundle/vim-github-colorscheme"]
	path = .vim/bundle/vim-github-colorscheme
	url = git@github.com:endel/vim-github-colorscheme.git
[submodule ".vim/bundle/vim-lucius"]
	path = .vim/bundle/vim-lucius
	url = https://github.com/jonathanfilip/vim-lucius
[submodule "vim-nerdtree-tabs"]
	path = vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule ".vim/bundle/vim-nerdtree-tabs"]
	path = .vim/bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule ".vim/bundle/vim-syntax-extra"]
	path = .vim/bundle/vim-syntax-extra
	url = git@github.com:justinmk/vim-syntax-extra.git
[submodule ".vim/bundle/hound.vim"]
	path = .vim/bundle/hound.vim
	url = git@github.com:urthbound/hound.vim.git
[submodule ".vim/bundle/webapi-vim"]
	path = .vim/bundle/webapi-vim
	url = git@github.com:mattn/webapi-vim.git
[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule ".vim/vim-autoformat"]
	path = .vim/vim-autoformat
	url = https://github.com/Chiel92/vim-autoformat
[submodule ".vim/bundle/vim-autoformat"]
	path = .vim/bundle/vim-autoformat
	url = https://github.com/Chiel92/vim-autoformat
